@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #e6e9ff;
  --secondary-color: #2430af;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #f5c422;
  --brown-color: #becbdf;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}